version: '3.9'

services:
  spring_backend:
    build: .
    image: neotech-backend:latest
    container_name: spring_backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://ecommerce-db.cxc8eqec4fm4.sa-east-1.rds.amazonaws.com:5432/ecommerce_db
      SPRING_DATASOURCE_USERNAME: neotech
      SPRING_DATASOURCE_PASSWORD: Neotech021240
    restart: always
