services:
  postgres:
    image: postgres:17.5
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ecommerce_db
      POSTGRES_USER: neotech
      POSTGRES_PASSWORD: 021240
    volumes:
        - postgres_data:/var/lib/postgresql/data
    ports:
        - "5432:5432"


  backend:
     build: .
     container_name: spring_backend
     depends_on:
       - postgres
     restart: always
     environment:
       DB_URL: jdbc:postgresql://postgres:5432/ecommerce_db
       DB_USER: neotech
       DB_PASSWORD: 021240
       SERVER_PORT: 8080
     ports:
       - "8080:8080"

volumes:
  postgres_data: