version: '3.9'

services:
  postgres:
    image: postgres:17
    container_name: postgres_local
    environment:
      POSTGRES_USER: neotech
      POSTGRES_PASSWORD: Neotech021240
      POSTGRES_DB: ecommerce_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - neo_network

  spring_backend:
    build: .
    container_name: spring_backend
    depends_on:
      - postgres
    ports:
      - "8085:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/ecommerce_db
      SPRING_DATASOURCE_USERNAME: neotech
      SPRING_DATASOURCE_PASSWORD: Neotech021240
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_PROFILES_ACTIVE: local
    networks:
      - neo_network

volumes:
  postgres_data:


networks:
  neo_network: